<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Title Space</title>
  <meta
    name="description"
    content="Homepage for the Kipper programming language"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta property="og:title" content="Kipper"/>
  <meta property="og:type" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content="./img/icon.png"/>

  <link rel="manifest" href="../site.webmanifest"/>
  <link rel="apple-touch-icon" href="./img/icon.png"/>
  <link rel="shortcut icon" type="image/ico" href="../favicon.ico"/>

  <link rel="stylesheet" href="css/normalize.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/buttons.css"/>
  <link rel="stylesheet" href="css/nav-bar.css"/>
  <link rel="stylesheet" href="css/text.css"/>
  <link rel="stylesheet" href="css/lists.css"/>
  <link rel="stylesheet" href="css/footer.css"/>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>

  <!--
  Specifying the preferred environment colour to be the primary scheme colour.
  See main.css for the --scheme-primary variable
  -->
  <meta name="theme-color" content="#e01a4f"/>
</head>
<body>
<script type="module" src="js/plugins.ts"></script>

<div id="main-frame">
  <div id="main-frame-content">
    <!-- Top element -->
    <div id="top-header">
      <div id="top-nav-bar">
        <ul>
          <li>
             <a href="index.html" class="free-list flex-row flex-parent-container centered kipper-logo-container">
              <img id="kipper-logo" src="./img/base_head.png" alt="">
              <h1>Kipper</h1>
            </a>
          </li>
          <li>
            <a href="download.html" class="menu-button top-nav-menu-items"><h4>Downloads</h4></a>
          </li>
          <li>
            <a href="docs.html" class="menu-button top-nav-menu-items"><h4>Docs</h4></a>
          </li>
          <li>
            <a href="install.html" class="menu-button top-nav-menu-items"><h4>Install Guide</h4></a>
          </li>
          <li>
            <a href="playground.html" class="menu-button top-nav-menu-items"><h4>Playground</h4></a>
          </li>
          <li>
            <a href="https://github.com/WMC-AHIF-2021/Kipper-Web/blob/main/CHANGELOG.md" class="menu-button top-nav-menu-items"><h4>
              Changelog</h4></a>
          </li>
          <li id="search-bar" class="free-list flex-row flex-parent-container red-text">
            <label for="search-bar-input"></label>
            <input id="search-bar-input" type="search" placeholder="Search">
          </li>
        </ul>
      </div>
      <div class="text-page-content-container">
        <div class="header-text-content flex-fill-container flex-column centered">
          <div id="page-header" class="white-text">
            <h1>Header Space</h1>
          </div>
          <div id="page-description" class="white-text">
            <h4>Description Space</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Central Content - all content in the white area -->
  <div id="central-content" class="flex-parent-container black-text"></div>
  <!-- Footer bar - contains some links and general copyright notice -->
  <div id="footer-bar" class="flex-parent-container flex-column">
    <div id="copyright" class="centered-text white-text">
      <small>
        © 2021 Luna Klatzer & Maximilian Seebacher. Content is available under
        <a class="yellow-a" href="https://github.com/Luna-Klatzer/Kipper/blob/main/LICENSE">this license</a>.
      </small>
    </div>
  </div>
</div>
</body>
</html>
