<div
	id="disclaimer-banner"
  style="display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    align-items: center;
    flex-direction: row;
    font-style: italic;
    padding: 0.5rem 0;
  "
>
	<p style="margin: 0; padding: 0 0 0 0.5rem">
		Website and Docs were moved to <a href="https://luna-klatzer.github.io/Kipper" style="margin: 0; padding: 0;">https://luna-klatzer.github.io/Kipper</a>. Please refrain from using the old website, as it displays information prior to <code>v0.9.1</code>.
	</p>
</div>
