/*! Defaults design for the buttons */

:root {
  --button-dark-primary: #c71242;
}

.button {
  display: inline-block !important;
  border: none !important;
  color: white !important;
  background-color: var(--scheme-primary) !important;
  border-radius: var(--default-border-radius) !important;
  font-size: 16px !important;
  padding: 1em 2em !important;
  margin: 0.75em 0.75em 0.75em 0 !important;
  font-weight: bold !important;
  text-align: center !important;
  text-decoration: none !important;
}

.button-dark {
  display: inline-block !important;
  border: none !important;
  color: black !important;
  background-color: var(--scheme-primary) !important;
  border-radius: var(--default-border-radius) !important;
  font-size: 16px !important;
  padding: 1em 2em !important;
  margin: 0.75em 0.75em 0.75em 0 !important;
  font-weight: bold !important;
  text-align: center !important;
  text-decoration: none !important;
}

.button:active, .button:visited {
  color: white !important;
}

.button-dark:active, .button-dark:visited {
  color: white !important;
}

.button-dark:hover {
  background-color: var(--button-dark-primary) !important;
  box-shadow: 0 0 0.5em var(--scheme-gray) !important;
}

.button:hover {
  background-color: var(--button-dark-primary) !important;
  box-shadow: 0 0 0.5em var(--scheme-gray) !important;
}

@media (max-width: 1200px) {
  .menu-button {
    border: none !important;
    color: white !important;
    padding: 0.25em 0.5em !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
  }
}

@media (min-width: 1200px) {
  .menu-button {
    border: none !important;
    color: white !important;
    padding: 1em 2em !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
  }
}
