/*! Defaults design for the buttons */

:root {
  --button-dark-primary: #c71242;
}

/* Default sizing for buttons */
@media (max-width: 1200px) {
  .button, .button-dark {
    padding: 0.5em 2em !important;
    margin: 0.5em 0.5em 0.5em 0 !important;
  }
}

@media (min-width: 1200px) {
  .button, .button-dark {
    padding: 1em 2em !important;
    margin: 0.75em 0.75em 0.75em 0 !important;
  }
}

/* Base Button Properties */
.button, .inverted-button, .button-dark {
  display: inline-block !important;
  border-radius: var(--default-border-radius) !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: center !important;
  text-decoration: none !important;
  box-sizing: border-box !important; /* Include border into the size-properties */
  box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px !important;
}

/* Default Button */
.button {
  border: none !important;
  color: white !important;
  background-color: var(--scheme-primary) !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px !important;
}

.button:active, .button:visited {
  color: white !important;
}

.button:hover {
  background-color: var(--button-dark-primary) !important;
  box-shadow: 0 0 0.5em var(--scheme-gray) !important;
}

/* Darker Button */
.button-dark {
  border: none !important;
  color: white !important;
  background-color: var(--button-dark-primary) !important;
}

.button-dark:active, .button-dark:visited {
  background-color: var(--button-dark-primary) !important;
  color: white;
}

.button-dark:hover {
  background-color: var(--button-dark-primary) !important;
  box-shadow: 0 0 0.5em var(--scheme-gray) !important;
  color: white;
}

/* Inverted Transparent-Background Button */
.inverted-button {
  border: 2px solid var(--scheme-primary) !important;
  color: var(--scheme-primary) !important;
  background-color: transparent !important;
}

.inverted-button:active, .inverted-button:visited {
  color: var(--scheme-primary) !important;
}

.inverted-button:hover {
  background-color: var(--button-dark-primary) !important;
  box-shadow: 0 0 0.5em var(--scheme-gray) !important;
  color: white !important;
  border-color: var(--button-dark-primary) !important;
}

@media (max-width: 1200px) {
  .inverted-button{
    padding: calc(0.5em - 2px) calc(1em - 2px) !important;
    margin: 0.5em 0.5em 0.5em 0 !important;
  }
}

@media (min-width: 1200px) {
  .inverted-button {
    padding: calc(1em - 2px) calc(2em - 2px)  !important;
    margin: 0.75em 0.75em 0.75em 0 !important;
  }
}

/* Underline buttons */
.underline-button {
  position: relative;
  border: none !important;
  color: white !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  box-sizing: border-box;
}

.underline-button h1,
.underline-button h2,
.underline-button h3,
.underline-button h4,
.underline-button h5,
.underline-button h6,
.underline-button a,
.underline-button p {
  margin: 0.25rem 0;
}

.underline-button:before {
  content: "" !important;
  position: absolute !important;
  display: block !important;
  width: 100% !important;
  height: 2px !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: white !important;
  transform: scaleX(0) !important;
  transform-origin: top left !important;
  transition: transform 0.4s ease !important;
}

.underline-button:hover::before {
  transform: scaleX(1) !important;
}

.underline-button:hover {
  color: white !important;
}

/* Navigation Menu Button */
@media (max-width: 1200px) {
  .top-nav-button  {
    margin: 0.25em 0.5em !important;
  }
}

@media (min-width: 1200px) {
  .top-nav-button  {
    margin: 1em 2em !important;
  }
}
