/*! Docs Formatting */

.sidebar-nav-header {
  margin: 0;
  padding: 0;
}

.docs-page-content-container {
  display: flex;
  flex-grow: 1;
  padding-left: 4vw;
}

#kipper-docs-img {
  width: 100%;
}

#docs-sidebar-nav-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em 4vw 2em 2em;
  border-right: 3px solid var(--scheme-gray);
}

#nav-kipper-header {
  margin: 1em 1em 1em 0;
  color: var(--scheme-dark-gray);
}

#docs-page-nav-kipper-origin, #docs-page-nav-kipper-origin:active, #docs-page-nav-kipper-origin:visited {
  color: var(--scheme-dark-gray);
  text-decoration: none !important;
}

#docs-page-nav-kipper-origin:hover {
  color: var(--scheme-primary);
}

#docs-page-nav-header, #docs-page-nav-header:active, #docs-page-nav-header:visited {
  color: black;
  text-decoration: none !important;
}

#docs-page-nav-header:hover {
  color: var(--scheme-primary);
}

#docs-page-nav ul li {
  padding-right: 0.25em;
}

.selected-page-sidebar-nav-header a {
  font-weight: bold;
}

.sidebar-nav-header {
  padding: 0.2em;
}

.sidebar-nav-header a, .sidebar-nav-header a:visited, .sidebar-nav-header a:active {
  color: black;
  text-decoration: none;
}

.sidebar-nav-header a:hover {
  color: var(--scheme-primary);
}
