/*! Footer Bar Configuration and Styling */

#footer-bar {
  margin-top: auto;
  background-color: var(--scheme-primary);
}

#footer-bar #social-icon {
  background-color: black;
}

#footer-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-shrink: 1;
}

#htl-leonding-logo {
  margin: 0 2rem 1rem;
}

#footer-bar-list li {
  margin-left: 2rem;
  margin-right: 2rem;
}

#copyright {
  border-top: 1px solid #f4f4f4;
  margin-top: 1rem;
  padding-top: 1rem;
}
