/*! Defaults design for the lists and special formattign */

ul, ol {
  display: flex;
  padding-left: 2rem;
}

/* A free list for working on a list with no design */
.free-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bullet-list {
  list-style-type: disc;
  list-style-position: outside;
}
