/*! Nav-bar Config */

ul {
  list-style-type: none;
  margin: 0 0 0 1rem; /* 1 rem on the left */
  padding: 0;
  display: inherit;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: white;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
}

li h1 {
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Change the color to scheme-secondary on hover */
li h1:hover {
  color: var(--scheme-secondary);
}

li a:hover {
  color: var(--scheme-secondary);
}
