/*! top-nav-bar Config */

:root {
  --search-bar-margin: 15vw;
  --search-bar-margin-expanded: 7.5vw;
  --search-bar-size: 7.5vw;
  --search-bar-size-expanded: 15vw;
}

#top-nav-bar {
  display: flex;
  justify-content: center;
}

#top-nav-bar #kipper-logo {
  height: 4rem;
  margin-right: 0.5rem;
}

#top-nav-bar .kipper-logo-container:hover {
  filter: brightness(0) saturate(100%) invert(81%) sepia(41%) saturate(654%) hue-rotate(358deg) brightness(106%) contrast(102%) !important;
}

#top-nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

#top-nav-bar li {
  float: left;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-shrink: inherit;
}

#top-nav-bar li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

#top-nav-bar li h1 {
  color: white;
  text-align: center;
  text-decoration: none;
}

/* The 'Kipper' name is highlighted */
#top-nav-bar li .top-nav-menu-items:hover {
  color: var(--scheme-secondary);
}

#search-bar #search-bar-input {
  width: var(--search-bar-size);
  margin-left: var(--search-bar-margin);
  background-color: white;
  color: var(--scheme-primary);
  border-radius: var(--default-border-radius);
  border: none;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

#search-bar img {
  height: 1rem;
}

#search-bar #search-bar-input:focus, #search-bar #search-bar-input:hover {
  animation-name: search-bar-opening;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  border: 2px solid var(--scheme-secondary);
  outline: none;
}

@keyframes search-bar-opening {
  from   {
    width: var(--search-bar-size); /* 10vw */
    margin-left: var(--search-bar-margin); /* 20vw */
  }
  to {
    width: var(--search-bar-size-expanded); /* 20vw */
    margin-left: var(--search-bar-margin-expanded); /* 10vw */
  }
}
