/*! Configuration for the Playground */

#interactive-console {
  flex-grow: 1;
  display: flex;
}

#interactive-console ul {
  margin: 0;
  display: flex;
  flex-grow: 1;
}

#left-console-interface {
  margin: 0;
  display: flex;
  flex-grow: 1;
  min-width: 75vw;
}

#left-console-interface #playground-option-menu {
  border-bottom: 2px solid var(--scheme-gray);
}

#clear-content-list-item {
  margin-right: 1rem;
}

.playground-button button {
  padding: 1rem 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

.playground-button button:hover {
  color: var(--scheme-primary);
  background-color: var(--scheme-gray);
}

/* The entire code entire window -> parent of the label and textarea */
#code-editor {
  flex-grow: 1;
  min-height: 60vh;
}

/*
 * The user input fields - the two fields will be put over each other to make it look
 * like a single field
 */
#code-editor-textarea, #highlighting-field {
  /* Putting them on top of each other */
  position: absolute;
  flex-grow: 1;

  /* Allow scrolling */
  overflow: hidden; /* overflow: auto; TODO! Implement proper scrolling in the future */
  /* white-space: nowrap; TODO! Implement proper new-lines */

  /* Identical styling */
  margin: 10px;
  padding: 10px;
  resize: none;
  border: none;
  outline: none;
  min-width: 75vw;
  min-height: 50vh;
}

#code-editor-textarea, #highlighting-field, #highlighting-field * {
  /* Also add text styles to highlighting tokens */
  font-size: 14px;
  font-family: consolas, monospace;
  line-height: 18px;
  background-color: white;
  tab-size: 2;
}

#code-editor-textarea {
  /* Move the textarea in front of the result */
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: var(--scheme-primary);
}

#highlighting-field-content {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

#highlighting-field {
  z-index: 0;
}

/* Sidebar styling */
#shell-sidebar {
  margin: 0;
  display: flex;
}

#shell-sidebar ul {
  flex-grow: 1;
}

#shell-sidebar #shell-sidebar-menu {
  border-bottom: 2px solid var(--scheme-gray);
  border-left: 2px solid var(--scheme-gray);
  padding: 0;
}

#shell-sidebar #shell-sidebar-menu li {
  display: flex;
  flex-grow: 1;
}

#shell-sidebar #shell-sidebar-menu li button {
  flex-grow: 1;
}

#shell-sidebar > ul > #side-editor {
  border-left: 2px solid var(--scheme-gray);
}

/* Removing any border radius inside the editor*/
#shell-sidebar > ul > #side-editor > .code-toolbar pre,
#shell-sidebar > ul > #side-editor > .code-toolbar code {
  border-radius: 0;
}

#shell-sidebar > ul > #side-editor,
#shell-sidebar > ul > #side-editor > .code-toolbar,
#shell-sidebar > ul > #side-editor > .code-toolbar > pre {
  display: flex;
  flex-grow: 1;
}

#shell-sidebar-menu {
  width: 20vw;
}

#shell-sidebar-menu .console-output-button {
  flex-grow: 1;
  padding: 0 !important;
  width: 10vw;
}

#shell-sidebar > ul > #side-editor pre {
  background-color: var(--scheme-gray);
  display: flex;
  flex-grow: 1;
  margin: 0;
}

#shell-sidebar > ul > #side-editor pre > code {
  border-radius: 0;
  align-self: flex-end;
  flex-grow: 1;
  margin: 0;
}
