/*! Configuration for the Playground */

#interactive-console {
  flex-grow: 1;
  display: flex;
}

#interactive-console ul {
  margin: 0;
  display: flex;
  flex-grow: 1;
}

#left-console-interface {
  margin: 0;
  display: flex;
  flex-grow: 1;
}

#left-console-interface #playground-option-menu {
  border-bottom: 3px solid var(--scheme-gray);
}

.playground-button button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

.playground-button button:hover {
  color: var(--scheme-primary);
}

/* The entire code entire window -> parent of the label and textarea */
#code-editor {
  display: flex;
  flex-grow: 1;
}

/* The actual user input field */
#code-editor textarea {
  flex-grow: 1;
  resize: none;
  border: none;
  outline: none;
  padding: 1.5rem;
  font-size: 16px;
  font-family: monospace, consolas;
}

#shell-sidebar {
  margin: 0;
  display: flex;
}

#shell-sidebar ul {
  flex-grow: 1;
}

#shell-sidebar #shell-sidebar-menu {
  border-bottom: 3px solid var(--scheme-gray);
  border-left: 3px solid var(--scheme-gray);
  padding: 0;
}

#shell-sidebar #shell-sidebar-menu ul {
  display: flex;
  flex-grow: 1;
}

#shell-sidebar #shell-sidebar-menu li {
  flex-grow: 1;
}

#shell-sidebar #shell-sidebar-menu li button:hover {
  color: var(--scheme-primary);
}

#shell-sidebar-menu .playground-button {
  padding-left: 2rem;
  padding-right: 2rem;
}

#shell-sidebar-menu-button-1 {
  border-right: 3px solid var(--scheme-gray);
}

#shell-sidebar #side-editor {
  border-left: 3px solid var(--scheme-gray);
  flex-grow: 1;
}

#shell-sidebar #side-editor {
  display: flex;
  flex-grow: 1;
}

#shell-sidebar #side-editor pre {
  background-color: var(--scheme-gray);
  display: flex;
  flex-grow: 1;
  margin: 0;
}

#shell-sidebar #side-editor pre > code {
  border-radius: 0;
  align-self: flex-end;
  flex-grow: 1;
  margin: 0;
}
