<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Title Space</title>
  <meta
    name="description"
    content="Homepage for the Kipper programming language"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="module">
      import { DefineOpenGraphMetaTags, openGraphMetaTags } from "./js/main";

      DefineOpenGraphMetaTags(openGraphMetaTags);
    </script>
  <link rel="manifest" href="../site.webmanifest" />
  <link rel="apple-touch-icon" href="./img/icon.png" />
  <link rel="shortcut icon" type="image/ico" href="../favicon.ico" />

  <link rel="stylesheet" href="./css/normalize.css" />
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="stylesheet" href="./css/screen.css" />
  <link rel="stylesheet" href="./css/buttons.css" />
  <link rel="stylesheet" href="./css/nav-bar.css" />
  <link rel="stylesheet" href="./css/text.css" />
  <link rel="stylesheet" href="./css/lists.css" />
  <link rel="stylesheet" href="./css/footer.css" />

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/951ef1f046.js" crossorigin="anonymous"></script>

  <!-- Including stylesheet for the Inter-Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />

  <!-- Loading the prism highlighting style-sheet -->
  <link rel="stylesheet" href="./prism/prism.css" />

  <!--
  Specifying the preferred environment colour to be the primary scheme colour.
  See main.css for the --scheme-primary variable
  -->
  <meta name="theme-color" content="#e01a4f" />
</head>
<body>
<script src="./js/plugins.ts"></script>
<script src="./prism/prism.js"></script>

<div id="main-frame">
  <header id="actual-content">
    <!-- Top element -->
    <div class="page-header">
      <nav id="header-nav-bar">
        <ul>
          <li>
            <a href="./index.html"
               class="no-style-list flex-row flex-parent-container flex-center kipper-logo-container">
              <img id="kipper-logo" src="./img/base_head.png" alt="">
              <a class="underline-button" href="./index.html">
                <h1>Kipper</h1>
              </a>
            </a>
          </li>
          <li>
            <a href="./download.html" class="underline-button top-nav-menu-item top-nav-button"><h4>Downloads</h4></a>
          </li>
          <li>
            <a href="./docs/index.html" class="underline-button top-nav-menu-item top-nav-button selected-nav-page"><h4>
              Docs</h4></a>
          </li>
          <li>
            <a href="./playground.html" class="underline-button top-nav-menu-item top-nav-button"><h4>Playground</h4>
            </a>
          </li>
          <li>
            <a href="https://github.com/WMC-AHIF-2021/Kipper-Web/blob/main/CHANGELOG.md"
               class="underline-button top-nav-menu-item top-nav-button"><h4>
              Changelog</h4></a>
          </li>
        </ul>
        <div id="search-bar-wrapper">
          <ul>
            <li>
              <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
            </li>
            <li id="search-bar">
              <label for="search-bar-input"></label>
              <input id="search-bar-input" type="search" placeholder="Search..." spellcheck="false">
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- Central Content - all content in the white area -->
  <div id="central-content" class="flex-parent-container black-text"></div>
  <!-- Footer bar - contains some links and general copyright notice -->
  <footer id="footer-bar" class="flex-parent-container flex-column"></footer>
  <script src="./js/gen-footer.ts"></script>
</div>
</body>
</html>
