/*! Text and Header Formatting */

html {
  font-family: inter, serif;
}

.h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
}

.h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
}

.h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.white-text {
  color: white;
}
